@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
    font-family: "Titillium Web", sans-serif;
    font-size: 13pt;
}

body {
	padding-top: 2em;
	padding-bottom: 2em;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

/* Nivel de habilidade */
.basico { width: 25%; }
.intermediario { width: 50%; }
.avancado { width: 75%; }
.profissional { width: 100% }