@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
    font-family: "Titillium Web", sans-serif;
    font-size: 13pt;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.card-image-pad {
    padding-top: 2em;
}